.logo-toolbar {
  background-image: url(/assets/images/logol.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 130px;
  -webkit-transform-origin: center top !important;
  transform-origin: center top !important;
  height: 130px;
}

.mat-tab-nav-bar {
  background-color: black;
}

.mat-tab-link {
  color: white;
  font-weight: 300;
  font-size: 3vh;
  font-feature-settings: "smcp", "zero";
}

.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #ff1744;
  height: 4px;
}

.mat-tab-nav-bar.mat-primary .mat-tab-links {
  display: flow-root;
}