.logo-toolbar {
  background-image: url(/assets/images/logol.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 130px;
  -webkit-transform-origin: center top !important;
  transform-origin: center top !important;
  height: 130px;
}
